@page
@model Vehicle_Parking_Management_System.Pages.Admin.ParkingSlotModel
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Parking Slot</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="/Admin/Dashboard">Home</a></li>
                        <li class="breadcrumb-item active"><a asp-page="/Admin/ParkingSlot"></a>Parking Slot</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">


                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Parking Slot Data table</h3>
                            <button class="btn btn-success btn-xs" style="margin-left: 77%" data-toggle="modal" data-target="#add"><i class="fa fa-plus"></i> Add</button>
                            <div class="modal fade" id="add">
                                <div class="modal-dialog modal-sm">
                                    <form asp-page-handler="Add" asp-page="ParkingSlot" method="post">
                                        
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Add Slot</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="card card-primary">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Slot Name</label>
                                                                <input asp-for="slot.SlotName" type="text" class="form-control" id="" placeholder="Enter Parking Slot Name ..">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Slot Type</label>
                                                                <input asp-for="slot.SlotType" type="text" class="form-control" id="" placeholder="Enter Parking Slot Type ..">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Slot Number</label>
                                                                <input asp-for="slot.SlotNumber" type="text" class="form-control" id="" placeholder="Enter Parking Slot Number ..">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Status</label>
                                                                <input asp-for="slot.Status" type="text" class="form-control" id="" placeholder="Enter Slot Status ..">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Parking Slot No.</th>
                                        <th>Slot Status</th>
                                        <th width="7%"></th>
                                    </tr>
                                </thead>
                                @foreach(var item in Model.slots)
                                {
                                        <tbody>
                                        <tr>
                                            <td><b style="color: maroon">7545</b></td>
                                            @if(item.Status == "Unavailable".ToLower())
                                            {
                                             <td><button type="button" class="btn btn-danger btn-xs" >@item.Status</button></td>
                                            }else
                                            {
                                            <td><button type="button" class="btn btn-info btn-xs">@item.Status</button></td>
                                            }
                                            
                                            <td><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button></td>

                                        </tr>
                                        
                                        </tbody>
                                }
                                
                                
                            </table>
                            <div class="modal fade" id="edit">
                                <div class="modal-dialog modal-sm">
                                    <form asp-page-handler="Edit" asp-page="ParkingSlot" method="post">
                                        <input asp-for="slot.Id" hidden value="slot.Id" />
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Update Slot</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="card card-primary">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Parking Slot</label>
                                                                <input type="text" class="form-control" id="" placeholder="Enter Parking Slot Number ..">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Status</label>
                                                                <input type="text" class="form-control" id="" placeholder="Enter Slot Status ..">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->