@page
@model Vehicle_Parking_Management_System.Pages.Customer.BookingRequestModel
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Booking Request</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Booking Request</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">


                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Booking Request Data table</h3>
                            <button class="btn btn-success btn-xs" style="margin-left: 75%" data-toggle="modal" data-target="#add"><i class="fa fa-plus"></i> Add</button>
                            <div class="modal fade" id="add">
                                <div class="modal-dialog modal-md">
                                    <form action="">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Add Request</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="card card-primary">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Booking Date</label>
                                                                <input type="date" class="form-control" id="">
                                                            </div>
                                                        </div>


                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Vehicle</label>
                                                                <select class="form-control">
                                                                    <option>Data</option>
                                                                    <option>Data</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Slot</label>
                                                                <select class="form-control">
                                                                    <option>22</option>
                                                                    <option>23</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Status</label>
                                                                <select class="form-control">
                                                                    <option>Pending</option>
                                                                    <option>Cancel</option>
                                                                    <option>Approved</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Remarks</label>
                                                                <textarea row="3" placeholder="Enter.." class="form-control" id=""></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Reference No.</th>
                                        <th>Booking Date</th>
                                        <th>Vehicle</th>
                                        <th>Slot Number</th>
                                        <th>Status</th>
                                        <th>Remarks</th>
                                        <th width="7%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b style="color: maroon">7545</b></td>
                                        <td><i>March 12, 2012</i></td>
                                        <td>RUV</td>
                                        <td><button type="button" class="btn btn-info btn-xs">3</button></td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button></td>

                                    </tr>
                                    <tr>
                                        <td><b style="color: maroon">7545</b></td>
                                        <td><i>March 12, 2012</i></td>
                                        <td>RUV</td>
                                        <td><button type="button" class="btn btn-info btn-xs">3</button></td>
                                        <td>Data</td>
                                        <td>Data</td>
                                        <td><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button></td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Reference No.</th>
                                        <th>Booking Date</th>
                                        <th>Vehicle</th>
                                        <th>Slot Number</th>
                                        <th>Status</th>
                                        <th>Remarks</th>
                                        <th width="7%"></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="modal fade" id="edit">
                                <div class="modal-dialog modal-md">
                                    <form action="">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Update Request</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="card card-primary">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Booking Date</label>
                                                                <input type="date" class="form-control" id="">
                                                            </div>
                                                        </div>


                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Vehicle</label>
                                                                <select class="form-control">
                                                                    <option>Data</option>
                                                                    <option>Data</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Slot</label>
                                                                <select class="form-control">
                                                                    <option>22</option>
                                                                    <option>23</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Status</label>
                                                                <select class="form-control">
                                                                    <option>Pending</option>
                                                                    <option>Cancel</option>
                                                                    <option>Approved</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Remarks</label>
                                                                <textarea row="3" placeholder="Enter.." class="form-control" id=""></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
